---
layout: 'page'
---

<div class="col-6" style="padding: 0;">
  <img class="about-image" src="assets/images/about.JPG" alt="Picture"></img>
</div>
<div class='portfolio-description-box' style="padding: 0;">
  <p class="portfolio-text">
    Leo Eltes is an electroacoustic composer / producer and multimedia artist from Sweden,
    holding a Bachelor of Fine Arts in Music Production from Örebro’s School of Music.
    Born in the middle of the dot-com bubble and raised in Silicon Valley’s World Wide Web.
    His practice focuses on investigating his own nature in the form of an ever growing relationship to machines,
    by employing computers as a tool to study and expose the complex dynamics of the signal
    based landscape and what new complexities might evolve around it.
  </p>
  <br>
  <p class="portfolio-text">
    Through collaborations with artists, of both music and other art forms,
    he looks to broaden and question his, and others, understanding of the physical and digital space that we all share.
  </p>
  <br>
  <p class="portfolio-text">
    All non-commercial use is permitted, this includes any student project and
    mid and low budget productions (film, theatre, dance, etc). Music producers and composers may (creatively!) sample the music for commercial use.  
  </p>
  <br>
  <p class="portfolio-text">
    leo@eltes.se
  </p>
</div>
